body {
  background-color: #ccc;
}
.container {
  width: 100%;
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 300px;
}
.containerProducts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 180px;
  margin-bottom: 300px;
}
.containerProducts_product {
  width: 120px;
  height: 100%;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4 ease-in-out;
  gap: 5px;
  flex-direction: column;
}
.containerProducts_product button {
  width: 45px;
  height: 25px;
  padding: 10px;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.containerProducts_product button:hover {
  background-color: #6d0808;
  color: white;
}

.containerProducts_carrito {
  position: fixed;
  top: 70%;
  bottom: 20%;
  margin-top: 20px;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  gap: 15px;
  overflow-x: scroll;
  overflow-wrap: break-word;
  background-color: rgba(180, 37, 37, 0.2);
}
.containerProducts_carrito_product {
  margin: 5px 0;
  min-width: 100px;
  height: 75%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-left: 4px;
}
.containerProducts_product_img {
  width: 50px;
  object-fit: cover;
}
