body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.elementName {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  gap: 5px;
  margin: 10px 0;
  width: 180px;
  height: 80vh;
}
.elementNameCategory {
  background-color: rgba(137, 25, 25, 0.8);
  color: white;
}
